<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title</title>

    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="">
    <div class="">
        <div class="container">
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                Hello, <strong>WebJars!</strong>
            </div>
        </div>

        <div class="container">
            <div class="form-inline">
                <input class="form-control" name="user" id="name" />
                <a class="btn btn-info">addUser</a>
                <a class="btn btn-info" href="/fetchtomongo">fetchToMongo</a>
                <a class="btn btn-info" href="/download">download</a>
            </div>
            <table class="table table-hover">
                <tr th:each="user : ${users}">
                    <td style="width: 150px; height: 150px;"><img th:src="${user.profilePicUrl}" class="img-responsive"></td>
                    <td th:text="${user.userId}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.fullname}"></td>
                    <td th:text="${user.biography}"></td>
                </tr>
            </table>
        </div>
        <div class="container">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script>
        $(function () {
            $(".btn").click(function(){
                var name = $("#name").val();
                $.get("/addUser",{"user":name}, function(){
                    alert(1);
                })
            });
        });
    </script>
</body>
</html>